@charset "utf-8";
:root{
    --cor0: #49537c;
    --cor1: #4861c5;
    --cor2: #8d9c8e;
    --cor3: #2d2e2cc5;
    --cor4: #c5ebd6;
    --cor5:  #ff6947;
    --cor6: #3b4551;

    --fonte-1: arial,Verdana, helvetica, sans-serif;
    --fonte-2: 'Unbounded', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo{
    height: 100vh;
    width: 100%;
    font-size: 15px;
    background-color: var(--cor3);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    width: 804px;
}

.portfo {
    color: var(--cor5);
    font-family: var(--fonte-2); 
    font-size: 35px;
}

.portfo > span {
    color: var(--cor6);
    font-family :var(--fonte-2)
}
li{
    display:inline-block;
    color:var(var(--cor4));
    list-style: none;
    font-size: 15px;
    margin-right: 30px;
    cursor: pointer;
    font-family:var(--fonte-2);
    
}
li:hover{
    color:var(--cor5);
    transition: 0.5s;
}

.meu-nome{
    position: absolute;
    top: 50%;
    left: 10%;
    font-family: var(--fonte-2);
    color: var(--cor4);
}
section h1 {
    color: var(--cor5);
    font-size: 30px;
}
section h1 span {
    color: var(--cor6);
    font-size: 25px;
}

.imagem{
    position: absolute;
    left: 50%;
    bottom: 28%;
    max-width: 400px;
}
.sobre-min{
    display: flex;
    align-items: center;
    padding:30px 15%;
    background-color: #000000;
    color: var(--cor4);
    
}

.sobre-min > img {
    height: 300px;
    border: 2px solid var(--cor4);
    border-radius: 100%;
    margin-right: 50px;
    padding: 0;
}
.sobre-min h2 {
    font-size: 45px;
}
.sobre-min p {
    margin-top: 30px;
    margin-bottom: 60px;
}

section article button{
    color: var(--cor4);
    background: #020a3a;
    height: 50px;
    width: 180px;
    font-size: 18px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}
section article button:hover{
    background-color:var(--cor6);
    border: 3px solid var(--cor4);
    transition: 0.5s;

}