@charset "utf-8";
/* Paleta de cores :
#49537c
#5a648e
#8d9c8e
#2d2e2c

*/
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2d2e2c7e;
}
header > h1 {
    color: #8d9c8e
    ;
}
header > h1 > time {
    color: #49537c;
}

img{
    width: 30%;
    
}